.header
{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(204, 204, 204);
    z-index: 100;
}


.left-section
{   
    display: flex;
    align-items: center;
    width: 315px; 
}
.middle-section
{
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 70px;
    padding-right: 70px;
}
.right-section
{   
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    margin-left: 115px;
    padding-right: 15px;
    flex-shrink: 0;
}
